.directory
.vscode
.~lock.*
__pycache__
*.egg-info/
*.pyc
*.doc
*.docx
*.pdf
*.ppt
*.pptx
*.xls
*.xlsx
*.zip
output
content/actividades
content/acuerdos
content/biblioteca-digital
content/capacitaciones
content/directorio-de-unidades-conatrib
content/sentencias
